body {
  margin: 0px;
  font-family: Arial ;
  background-color:#041a30;
}

a{
  color: #041a30;
  text-decoration: none;
  margin-left: 2%;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif
}

h2 {
  color: white;
}

a:hover{
  transform: scale(1.2);
}

#Nav:hover{ 
  background-color: rgb(224, 205, 142);
}

.ProjectImage:hover{
  transform: scale(1.1);
}

.Column a:hover{
  transform: scale(1.1);
}

.Project p:hover{
  transform: scale(1.1);
  color:rgb(224, 205, 142);
}

#Nav {
  background-color: white;
  color:white;
  position: flex;
  overflow: hidden;
  border-color: black;
  font-size: 12px;
  display: flex;

}


#Home {
  display: flex;
  flex-direction: column;
  color: White;
  align-items: center;
  font-size:50px;
  margin-top:13%;
}

#Home h1:hover{
  color:rgb(224, 205, 142);
}

#Home h2:hover{
  color:rgb(224, 205, 142);
}

.Column{
  display:flex;
  flex-direction: column;
  width: min-content;
  margin: 40px;
  margin-top: 10%;
}

.Row{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.iframe {
  border: solid;
}

.HomeText{
  margin: 0;
  margin-top: 1%;
}

.Project{
  text-align: center;
}

.Project a{
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.ProjectDescription{
  display: inline-block;
  text-align: left;
  color:white;
}

#DeveloperHome{
  border-top: solid;
  margin-top: 5%;
}

.ProjectImage{
  width: 700px;
  height: 380px;
  border-radius: 10px;
}

.ContactImage{
  width: 200px;
  height: 200px;
  margin-right: 3%;
}

.row1 {
  display:flex;
  color: white;
  flex-direction: row;
  margin: 1%;
  justify-content: space-evenly;
}

.column1 {
  margin-top: 15%;
  display:flex;
  color:white;
  flex-direction: row;
  justify-content: space-evenly;

}

